In [3]:
print("proyecto numero 0 en python")

proyecto numero 0 en python

In [5]:
print("intentando aprender a programar")

intentando aprender a programar

In [51]:
# tipos de caractereres en programacion 
# str, texto
type(nombre)

str

In [53]:
# int, numeros enteros
type(1)

int

In [57]:
# float, numeros decimales o continuos
type(1.5)

float

In [59]:
# bool, los verdaderos o falso
type(True)

bool

In [71]:
nombre = "Cristian"

In [73]:
nombre_2 = "Camilo"

In [75]:
apellido = "Mazuera"

In [77]:
apellido_2 = "Garzon"

In [79]:
Nombre_Completo = "Mi nombre completo es" + nombre + " " + nombre_2 + " " + apellido + " " + " " + apellido_2

In [81]:
print(Nombre_Completo)

Mi nombre completo esCristian Camilo Mazuera  Garzon

In [87]:
edad = 28
edad + 1

29

In [89]:
print(edad)

28

In [97]:
# No se nos permite conectar o concatenar 2 tipos de datos distintos
print("mi edad es" + " " + edad)

TypeError: can only concatenate str (not "int") to str

In [99]:
# se debe convertir por medio de una funcion uno de los datos para que ambos sean str en este caso
print("mi edad es" + " " + str(edad))

mi edad es 28

In [105]:
# dato de tipo float
altura = 1.65

In [109]:
# como es de esperarse si se permite sumar datos int con datos float
print(edad + altura)

29.65

In [111]:
humano = False

In [113]:
print(" eres un humano: " + " " + str(humano))

 eres un humano:  False